@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#0e0c15] text-slate-50;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .btn {
    @apply py-3 px-6;
  }

  .below-nav {
    @apply mt-16 md:mt-20;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox   
 */
}
